 .bookimage {
        width:50%;
        position: relative;
        display: inline-block     
 }
 .bookimage .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}
 .bookimage:hover .img-top {
        display: inline;
}