.layer {
  position: absolute ;
  overflow: scroll;
  cursor: move;
  box-shadow: 5px 8px 15px 5px gray;
  color:#a312b2; 
}

.gif2{
  position: absolute;
  top:1590px;
  left:650px;
}

.layer:hover {
	z-index: 200;
}

.lay-1 {
  top:200px;
  left:750px;
  width:280px;
  height: 200px;
}


.lay-2{
  top:1080px;
  left:270px;
  width:280px;
  height:150px;
}

.lay-3{
  top:1250px;
  left:250px;
  width:330px;
  height:350px;
  background-color:rgba(163,18,178,0.05);
}

.content-boom {
  padding-left: 20px;
}

.imgboom{
width:73%;
padding-top: 20px;
padding-left:30px;
padding-bottom: 30px;
/*border: solid #ffc519 3px;*/
}

.layer-title{
  padding-bottom: 10px;
  font-size: 2.5vw;
  font-weight: bold;
}

.lay-4 {
  top:2350px;
  left:180px;
  height: 330px;
  width: 400px;
  color:black;
}

.research {
  display:flex;
  flex-wrap:wrap;
}


.research div {
  flex:0 0 25%;
}

.research img {
  width: 100%;  
}


.lay-5 {
  top:1800px;
  left:130px;
  width:300px;
  height:350px;
  color:black;
}

.scan {
  display:flex;
  flex-wrap:wrap;
}

.scan div{
   flex:0 0 50%;
}

.scan img {
  width: 100%;  
}



.lay-6{
  top:2100px;
  left:350px;
  width:280px;
  height:150px;
 color:black;
 background-color: white;
}

.spinev{
  width: 100%
}

.lay-color{
  background-color: rgba(255,197,25,0.1);
}








