/*purple#a312b2 green #14cc9d yellow #ffc519*/


body{
	font-family: universe 55 Roman;
    font-size:1.4vw;
}


a {
	padding:15px;
	text-decoration: none;
	color:black;
	font-size:2vw;
	border: solid black 3px;
}

.linklayer3{
	border: 0px;
}

.flashit{
  color:#f2f;
	-webkit-animation: flash linear 3s infinite;
	animation: flash linear 3s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}


.read{/*transform: rotate(2deg);*/
}


.content-header{
    line-height: 110%;
	letter-spacing: 2px;
	font-size: 3.5vw;
}


.h-en{
/*   color:#A6EDB3;*/
}

.h-ch{
   font-family: Weibei TC;
/*   color:#A788ED;*/
}


.intro-en{

	letter-spacing: 0.5px;
    line-height: 110%;
	font-size: 2.2vw;
}

.intro-cn{
    line-height: 140%;
	font-size: 2vw;	
}


.content-bimage{
	border: dashed #a312b2 8px;
/*	border: dashed #ffc519 8px;*/
/*	border: dashed #14cc9d 8px;*/
}

.essay-body{
	padding-top: 40px;
	    line-height: 120%;
}

.essay-author {
	padding-top: 20px;
	padding-left:400px;

}
/*.ro{
	 transform: rotate(90deg);
}*/

.fs-lrg {
	font-size: 2.5vw;
}

.fs-med {
	font-size: 2vw;
}

.fs-sml {
	font-size: 16px;
}

.ft-wei{
	font-family: Weibei TC;
}

.ft-uni-bold{
	font-family: Univers LT Std 65 Bold;
	font-weight: bold;
}

.ft-uni-ob{
	font-family: Univers LT Std 65 Bold Oblique;
	font-weight: bold;
	font-style: oblique;
}

.title{
	text-align: center;

}








